<h1>New game</h1>
<p>Welcome to a new game:</p>

<%= @letters %>

<p>What is the longest word you can find?</p>

<form action="/score" method = "post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="text" name="longest_word" placeholder="Enter your word here">
  <input type="hidden" name="letters" value ="<%= @letters %>">
  <input type="submit">
</form>
